body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title .link{
  font-size: 36px;
}

.link {
  margin: 0 0px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: 2vw;
  
}

.activeLink {
  color:black;
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  background-color: #D7E3F0;
  }


  .firstsection {
    background-color: #D7E3F0;
    padding: 2rem;
    overflow: hidden;
  }

  .showersection {
    padding: 2rem;
    text-align: center;
  }

  #calcbox {
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.secondsection, .thirdsection {
  padding: 2rem;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#links {
  text-align: right;
}

#shower {
  
  width: 20%;
  float: right;
}

@media (max-width: 800px){
  .firstsection img {
    display: none;
  }

  .waterparagraph {
    width: 100%;
  }

  .secondsection img {
    display: none;
  }

  #freshwaterparagraph {
    width: 100%;
  }

  .thirdsection img {
    display: none;
  }

  #dailyhabitsparagraph {
    width: 100%;
  }

  .keep {
    max-width: 100%;
    height: auto;
  }

  #shower {
    display: none;
  }
}

.waterparagraph, .duckparagraph {
  float: left;
  width: 70%;
}

#waterdrop, #duck {
  float: right;
  width: 20%;
}

#waterpond {
  float: left;
  width: 20%;
}

#freshwaterparagraph {
  float: right;
  width: 70%;
}

.thirdsection {
  padding: 5rem; 
  float: left;
  width: 70%;
  text-align: left;
}



.sinkparagraph {
  float: left;
  width: 70%;
}

#faucet {
  float: right;
  width: 20%;
}

.center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

#shower {
  width: 225px;
  height: auto;
  margin-top: 110px;
  margin-right: 40px;
}

#waterdrop {
  width: 230px;
  height: auto;
  position: relative; 
  top: -60px;
}

#waterpond {
  width: 275px;
  height: auto;
}

#faucet {
  width: 230px;
  height: auto; 
  position: relative; 
  top: -80px;
}
 #duck {
  position: relative; 
  top: -60px;
 }

.dishwash {
  padding-top: 3rem;
}

#links {
  padding: 1rem;
  padding-bottom: 3rem;
}

#title {
  padding-left: 1.7rem;
  padding-top: 1rem;
}

h1, h2, h3 {
  color: #003F83;
}

video {
  width: 70%;
  height: auto;
  margin: 2rem;
}

#buttoncenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

